.menu {
  z-index: 5;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.menu__icon {
  fill: white;
  display: none;
}

  @media (max-width: 500px) {
    .menu__icon {
      display: inline;
      
    }
    .menu__link-text {
      display: none;
    }
  }
.menu__link-text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  vertical-align: super;
}

.menu li, .menu a {
  display: block;
  height: 50px;
}

.menu li{
  width: 33.33%;
  padding: .5em 0;   
  transition: border-color .5s;
}

.menu li a {
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
}

@media (max-width: 500px) {
  .menu li, .menu a {
    font-size: .9em;
  }
}

.menu li {
  background-color: #222;
  border-bottom: 5px solid transparent;
}

.menu li:hover {
  border-color: white;
}
