$ad-black-1: #25201d;
$ad-black-2: #011627;
$ad-green-1: #045348;
$ad-orange-1: #fa6401;
$ad-orange-2: #fd8b77;
$ad-orange-3: #ff6652;
$ad-orange-4: #ff9f1c;
$ad-orange-5: #ff5400;
$ad-red-2: #9e101a;
$ad-red-3: #c11926;
$ad-red-4: #ef4040;
$ad-red-5: #ec675d;
$ad-red-6: #850418;
$ad-red-7: #e71d1d;
$ad-red-8: #fe3a7c;
$ad-red-9: #e71d36;
$ad-red-10: #ff0054;
$ad-red-11: #9e0059;
$ad-red: #d31459;
$ad-white-1: #fefdf9;
$ad-white-2: #fbf8f2;
$ad-white-3: #efece7;
$ad-white-4: #f1f1f1;
$ad-white-5: #f5f3f1;
$ad-white-6: #f0ecea;
$ad-white-7: #fefefe;
$ad-white-8: #fcf7f4;
$ad-white-9: #fdfffc;
$ad-yellow-1: #dfc15e;
$ad-yellow-2: #ffbd00;
$ad-green-1: #2ec4b6;
$ad-blue-1: #390099;
