.header {
  background-color: #222;
  color: white;
}

.title--main {
  padding-top: 50px;
}



.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-around;
  margin: 0;
  padding: 20px;
}

.carousel {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.carousel__item {
  text-align: center;
  padding: 10px;
  max-width: 200px;
}

.title{
  text-align: center;
  font-size: 1.5em;
}