.btn-status {
  height: 80px;
  width: 300px;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin: 30px;
  border: none;
  border-radius: 50px;
  color: white;
  background: #61A0FF; 
  position: relative;
}

.btn-status__text {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  transition: all 2s;
}

.btn-status__text:before {
  content: 'Proceeding';
  position: absolute;
  top: -100px;
  display: block;
  height: 80px;
  width: 300px;
  transition: all 2s;
}
.btn-status__text--switch.btn-status__text:before {
top: -300px;
}

.btn-status__text--switch {
  top: 300px;
}

.btn-status__text--switch:before {
  top:0;
}
